%h2 Ingredients
%table
  %thead
    %tr
      %th Name
      %th.right Cost
      %th.right Weight
      %th{:colspan => 4} Effects
  %tbody
    - @potion.ingredients.each do |i|
      %tr
        %td= link_to i.name, i
        %td.right= i.cost
        %td.right= pad_weight i.weight
        - i.effects.each do |e|
          %td= link_to e.name, e
%h2 Effects
%table
  %thead
    %tr
      %th Name
      %th.right Value
      %th Description
  %tbody
    - @potion.effects.sort_by(&:value).reverse.each do |e|
      %tr
        %td= link_to e.name, e
        %td.right= e.value
        %td= e.description
  %tfoot
    %tr.overline
      %td &nbsp;
      %td.right= @potion.value
      %td &nbsp;
