%h2 Filters
%p
  Match:
  - search_types = ["at least one", "at least two", "all", "custom (best fit)"]
  - search_types.each_with_index do |search_type, index|
    %label
      %input{:type => :radio, :"data-index" => index, :name => "search_type", :checked => (search_type == search_types.last)}
      = search_type
%table#filters
  %tbody
%p Click the +/- signs next to an effect to add it to the list of filters.
%h2 Ingredient Listing
%table
  %thead
    %tr
      %th Name
      %th.right Cost
      %th.right Value
      %th.right Weight
      %th{:colspan => 8} Effects
  %tbody
    - @ingredients.each do |i|
      %tr.filterable
        %td= link_to i.name, i
        %td.right= i.cost
        %td.right= i.value
        %td.right= pad_weight(i.weight)
        - i.effects.each do |e|
          - effect_class = "effect-#{e.id}"
          %td.center{:title => "Toggle filter for #{e.name}"}= link_to "+", e, :class => "filter #{effect_class}"
          %td{:title => "See details for #{e.name}"}= link_to e.name, e, :class => "name #{effect_class}"
