%table
  %thead
    %tr
      %th Name
      %th Cost
      %th Value
      %th Weight
      %th{:colspan => 4} Effects
  %tbody
    - @ingredients.each do |i|
      %tr
        %td= link_to i.name, i
        %td= i.cost
        %td= i.value
        %td= i.weight
        - i.effects.each do |e|
          %td= link_to e.name, e
