%h2 Filters
%p
  Match:
  - search_types = ["at least one", "at least two", "all", "custom (best fit)"]
  - search_types.each_with_index do |search_type, index|
    %label
      %input{:type => :radio, :"data-index" => index, :name => "search_type", :checked => (search_type == search_types.last)}
      = search_type
.float-left
  %table#ingredients
    %tbody
.float-left
  %table#effects
    %tbody
%p.clear
  Click an ingredient or effect to add it to the list of filters. Effects
  matching these filters will be colored blue.
%p
  Ingredients will add all of their effects to the search (and thus "matching
  all" isn't very useful). When 2 or 3 ingredients are added, any matched
  ingredients will be colored green. Also, a link to a fuller description of
  the potion will be shown at the bottom.
%p
  Hold down Shift and click an ingredient or effect to go to its page, which
  will allow you to look at its matching ingredients and all potions, ordered
  from most to least valuable.
%h2 Ingredient Listing
%table
  %thead
    %tr
      %th{:colspan => 2} Name
      %th.right Cost
      %th.right Value
      %th.right Weight
      %th{:colspan => 8} Effects
  %tbody
    - @ingredients.each do |i|
      - ingredient_class = "ingredient-#{i.id}"
      %tr.filterable{:id => ingredient_class}
        %td.center= link_to "+", i, :class => "ingredient #{ingredient_class}"
        %td= link_to i.name, i, :class => "ingredient-name #{ingredient_class}"
        %td.right= i.cost
        %td.right= i.value
        %td.right= pad_weight(i.weight)
        - i.effects.each do |e|
          - effect_class = "effect-#{e.id}"
          %td.center= link_to "+", e, :class => "effect #{effect_class}"
          %td= link_to e.name, e, :class => "effect-name #{effect_class}"
%p#potion_link.hidden
  %a= "See full potion description."
